<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 问题实例列表</h1>
<a href="http://127.0.0.1:8000/prob/insert/">添加</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>问题名称</th>
        <th>问题描述</th>
        <th>问题维度</th>
        <th>约束个数</th>
        <th>价值矩阵</th>
        <th>权重矩阵</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {%  for obj in data_list  %}
    <tr>
        <td>{{ obj.id }}</td>
        <td>{{ obj.prob_name }}</td>
        <td>{{ obj.description }}</td>
        <td>{{ obj.dimensions }}</td>
        <td>{{ obj.objectives }}</td>
        <td>{{ obj.value_vector }}</td>
        <td>{{ obj.weight_matrix }}</td>
        <td>
            <a href="http://127.0.0.1:8000/prob/{{ obj.id }}/update/">编辑</a>
            <a href="http://127.0.0.1:8000/prob/delect/?nid={{ obj.id }}">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>