<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>修改算法信息</h1>
<table border="1">
    <thead>
    <tr>
        <th>算法名</th>
        <th>算法描述</th>
        <th>参数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form method="post">
                {% csrf_token %}
                <td>
                    <input type="text" name="name" placeholder="算法名" value="{{ data_list.alg_name }}">
                </td>
                <td>
                    <input type="text" name="des" placeholder="算法描述" value="{{ data_list.description }}">
                </td>
                    <a href="http://127.0.0.1:8000/algMag/pram/{{ nid }}/list/">参数列表</a>
                <td>
                    <input type="submit" value="提交">
                </td>
            </form>
    </tr>
    </tbody>
</table>


</body>
</html>