<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>修改参数信息</h1>
<table border="1">
    <thead>
    <tr>
        <th>参数名</th>
        <th>参数类型</th>
        <th>参数描述</th>
        <th>参数值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form method="post">
                {% csrf_token %}
                <td>
                    <input type="text" name="name" placeholder="参数名" value="{{ data_list.parm_name }}">
                </td>
                <td>
                    <input type="text" name="type" placeholder="参数类型" value="{{ data_list.type }}">
                </td>
                <td>
                    <input type="text" name="des" placeholder="参数描述" value="{{ data_list.description }}">
                </td>
                <td>
                    <input type="text" name="val" placeholder="值" value="{{ data_list.value }}">
                </td>
                <td>
                    <input type="submit" value="提交">
                </td>
            </form>
    </tr>
    </tbody>
</table>


</body>
</html>